<div class="container-list-h">
  <div class="icon-bg">
    <img src="../../../assets/icons/dessert.svg" class="icon-list" />
  </div>
  <div>
    <h4>Dessert Delights</h4>
    <p>Explore the sweetness of a new dessert recipe today</p>
  </div>
</div>

<div class="horizontal-scroll" *ngIf="randomDeserts; else loading">
  <ion-card
    *ngFor="let recipe of randomDeserts.recipes"
    (click)="redirectToRecipe(recipe.id)"
  >
    <ion-img [src]="recipe.image" *ngIf="recipe.image; else noImage"></ion-img>
    <ng-template #noImage>
      <ion-img class="noImg" src="../../../assets/icons/no-image.jpeg"></ion-img>
    </ng-template>
    <h2>{{ recipe.title }}</h2>
    <ion-card-content>
      <div>
        <div class="recipe-details-icon">
          <img src="../../../assets/icons/cooking-pot-svgrepo-com.svg" />
          <p>{{ recipe.readyInMinutes }} minutes</p>
        </div>
        <div class="recipe-details-icon">
          <img src="../../../assets/icons/bowl-svgrepo-com.svg" />
          <p>{{ recipe.servings }} servings</p>
        </div>
      </div>
      <div class="redirect-button">
        <img src="../../../assets/icons/arrow-right-up-358-svgrepo-com.svg" />
      </div>
    </ion-card-content>
  </ion-card>
</div>

<ng-template #loading>
  <app-skeleton-cards></app-skeleton-cards>
</ng-template>
