<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ingredients" href="ingredients">
      <img src="../../assets/icons/ingredients.png"/>
      <ion-label>Ingredients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="search">
      <img src="../../assets/icons/recipe-book.png"/>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics" href="analytics">
      <img src="../../assets/icons/wine-glass.png"/>
      <ion-label>Wine</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
