<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ingredients" href="ingredients">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics" href="analytics">
     <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Analitycs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
