<div class="container-main">
  <ion-skeleton-text animated class="skeleton-img"></ion-skeleton-text>
  <p class="recipe-title">
    <ion-skeleton-text animated class="skeleton-title"></ion-skeleton-text>
  </p>
  <div class="summary-recipe">
    <div class="recipe-details-icon">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </div>
    <div class="recipe-details-icon">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </div>
    <div class="recipe-details-icon">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </div>
  </div>
  <div class="summary-container">
    <div class="text-container">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
  <div class="ingredients-container">
    <p class="title-summary">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
    <div class="ingredient">
      <div class="img-container">
        <ion-skeleton-text animated class="skeleton-img"></ion-skeleton-text>
      </div>
      <div>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </div>
    <div class="ingredient">
      <div class="img-container">
        <ion-skeleton-text animated class="skeleton-img"></ion-skeleton-text>
      </div>
      <div>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </div>
  </div>
</div>
