<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="recipes.length > 0; else noRecipes">
    <div class="recipes-container">
      <ion-card
        *ngFor="let recipe of recipes"
        (click)="redirectToRecipe(recipe.id)"
      >
        <img [src]="recipe.image" />
        <h6>{{ recipe.title }}</h6>
        <ion-card-content>
          <div>
            <div class="recipe-details-icon">
              <img src="../../../assets/icons/cooking-pot-svgrepo-com.svg" />
              <p>{{ recipe.readyInMinutes }} minutes</p>
            </div>
            <div class="recipe-details-icon">
              <img src="../../../assets/icons/bowl-svgrepo-com.svg" />
              <p>{{ recipe.servings }} servings</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <div
        class="infinite-scroll-content"
        *ngIf="!allDataLoaded; else allDataLoaded"
      >
        <img class="loader-svg" src="../../../assets/icons/loader.svg" />
      </div>
      <ng-template #allDataLoaded>
        <div class="noMoreRecipesContainer">
          <p>No More Recipes</p>
        </div>
      </ng-template>
    </ion-infinite-scroll>
  </div>

  <ng-template #noRecipes>
    <div class="no-recipe-container">
      <img class="no-recipe" src="../../../assets/icons/no-recipe.png" />
    </div>
  </ng-template>
</ion-content>
