<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading && recipes.length === 0">
    <app-skeleton-search-recipe></app-skeleton-search-recipe>
  </div>

  <div *ngIf="recipes.length > 0; else noRecipes">
    <div class="recipes-container">
      <ion-card
        *ngFor="let recipe of recipes"
        (click)="redirectToRecipe(recipe.id)"
      >
        <img [src]="recipe.image" />
        <h6>{{ recipe.title }}</h6>
        <ion-card-content>
          <div>
            <div class="recipe-details-icon">
              <img src="../../../assets/icons/cooking-pot-svgrepo-com.svg" />
              <p>{{ recipe.readyInMinutes }} minutes</p>
            </div>
            <div class="recipe-details-icon">
              <img src="../../../assets/icons/bowl-svgrepo-com.svg" />
              <p>{{ recipe.servings }} servings</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <div
        class="infinite-scroll-content"
        *ngIf="
          loading && recipes.length > 0 && !allDataLoaded;
          else noNoreRecipes
        "
      >
        <img class="loader-svg" src="../../../assets/icons/loader.svg" />
      </div>
    </ion-infinite-scroll>
    <ng-template #noNoreRecipes>
      <div class="noMoreRecipesContainer">
        <p>No More Recipes</p>
      </div>
    </ng-template>
  </div>

  <ng-template #noRecipes>
    <div *ngIf="!loading">
      <div class="no-recipe-container">
        <img class="no-recipe" src="../../../assets/icons/no-recipe.png" />
      </div>
    </div>
  </ng-template>
</ion-content>
