<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    *ngIf="recipeInformation$ | async as recipeInformation"
    class="container-main"
  >
    <div class="recipe-info-title">
      <img class="img-recipe" [src]="recipeInformation.image" />
      <p class="recipe-title">{{ recipeInformation.title }}</p>
      <div class="summary-recipe">
        <div class="recipe-details-icon">
          <img src="../../../assets/icons/cooking-pot-svgrepo-com.svg" />
          <p>{{ recipeInformation.readyInMinutes }} minutes</p>
        </div>
        <div class="recipe-details-icon">
          <img src="../../../assets/icons/bowl-svgrepo-com.svg" />
          <p>{{ recipeInformation.servings }} servings</p>
        </div>
        <div class="recipe-details-icon">
          <img src="../../../assets/icons/money_icon.svg" />
          <p>{{ recipeInformation.pricePerServing }}$</p>
        </div>
      </div>
    </div>
    <div class="summary-container">
      <div
        [ngClass]="{ expanded: isExpanded, collapsed: !isExpanded }"
        class="text-container"
      >
        <p class="title-summary">Summary</p>
        <p [innerHtml]="recipeInformation.summary | safeHtml"></p>
      </div>
      <button (click)="isExpanded = !isExpanded">
        {{ isExpanded ? "Show Less" : "Show More" }}
      </button>
    </div>

    <div class="ingredients-container">
      <p class="title-summary">Ingredients</p>
      <div *ngFor="let ingredient of recipeInformation.extendedIngredients">
        <div *ngIf="ingredient && ingredient.image" class="ingredient">
          <div class="img-container">
            <img
              [src]="
                'https://spoonacular.com/cdn/ingredients_100x100/' +
                ingredient.image
              "
              alt="{{ ingredient.name }}"
            />
          </div>
          <div>
            <p>{{ ingredient.nameClean | capitalizeFirst }}</p>
            <p>
              {{ ingredient.amount }} {{ ingredient.measures.metric.unitShort }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="steps-container">
      <ion-segment [(ngModel)]="segmentValue">
        <ion-segment-button value="steps">
          Detailed Instructions
        </ion-segment-button>
        <ion-segment-button value="instructions">
          Instructions
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segmentValue">
        <div *ngSwitchCase="'steps'" class="steps">
          <div
            class="step"
            *ngFor="let step of recipeInformation.analyzedInstructions[0].steps"
          >
            <p class="step-number">{{ step.number }}</p>
            <p>{{ step.step }}</p>
            <div class="ing-step" *ngIf="step.ingredients">
              <div *ngFor="let ingredient of step.ingredients">
                <div
                  *ngIf="ingredient && ingredient.image"
                  class="ingredient img-container"
                >
                  <img
                    (click)="presentToast('top', ingredient.name)"
                    [src]="
                      'https://spoonacular.com/cdn/ingredients_100x100/' +
                      ingredient.image
                    "
                    alt="{{ ingredient.name }}"
                  />
                </div>
              </div>
            </div>

            <div class="ing-step" *ngIf="step.equipment.length > 0">
              <div *ngFor="let equipment of step.equipment">
                <div class="img-container" *ngIf="equipment && equipment.image">
                  <img
                    (click)="presentToast('top', equipment.name)"
                    [src]="
                      'https://spoonacular.com/cdn/equipment_100x100/' +
                      equipment.image
                    "
                    alt="{{ equipment.name }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'instructions'">
          <p [innerHtml]="recipeInformation.instructions | safeHtml"></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
