<div class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Search new Recipes </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"> Search new Recipes</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="container-main">
      <div class="complex-search">
        <div class="input-search">
          <ion-input
            [(ngModel)]="searchQuery"
            (keyup.enter)="search()"
            placeholder="Enter text"
          ></ion-input>
          <div *ngIf="searchQuery" (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </div>
        </div>
        <div class="filter-button" id="open-modal" expand="block">
          <img src="./../../assets/icons/filter-list-svgrepo-com.svg" />
        </div>
      </div>

      <app-random-recipes></app-random-recipes>
      <app-random-european></app-random-european>
      <app-random-desserts></app-random-desserts>

      <ion-modal
        trigger="open-modal"
        [initialBreakpoint]="0.80"
        [breakpoints]="[0, 1]"
      >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Choose Cuisine</ion-title>
              <ion-buttons slot="end"> </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let cuisine of cuisines">
                <ion-checkbox
                  labelPlacement="end"
                  justify="start"
                  [checked]="selectedCuisineService.isCuisineSelected(cuisine)"
                  (ionChange)="onCuisineChange(cuisine, $event.detail.checked)"
                >
                  {{ cuisine }}
                </ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </ion-content>
</div>
